<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link type="text/css" rel="stylesheet" href="../../assets/css/styles.css">
    <link type="text/css" rel="stylesheet" href="../../assets/css/page404.css">


    <link rel="shortcut icon" href="../../assets/logo.svg" type="image/x-icon">    
    <meta name="description" content="A volunteer-driven effort to track the COVID Hospital Beds availability in Madhya Pradesh.">
    <meta name="keywords" content="bed, beds, oxygen, ICU, vaccine, vaccination, vaccine-info, vaccination-info, covid, covid19, coronavirus, corona, india, virus, carona, karona, korona, covid beds madhya pradesh, covid beds mp, covid beds in madhya pradesh, covid beds in mp, covid beds bhopal, covid beds indore, covid beds jabalpur, covid beds ujjain, covid beds availability">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mp-covidstatistics.herokuapp.com/">
    <meta property="og:title" content="COVID Beds in Madhya Pradesh: Realtime availability numbers">
    <meta property="og:description" content="A volunteer-driven effort to track the COVID Hospital Beds availability in Madhya Pradesh.">

</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-items">
                <h1 class="heading-1">404</h1>    
    
                
                <h2 class="title city-title">Page Not Found</h2>    
    
                <div class="buttons">
                    <a class="button-primary try-againt-btn ">
                        <svg>
                            <use href="../../assets/img/sprints.svg#try-again" />
                        </svg>
                        <span>Try Again</span> 
                    </a>
        
                    <a class="button-primary home-btn " href="/">
                        <svg>
                            <use href="../../assets/img/sprints.svg#home" />
                        </svg>
                        <span>Home</span> 
                    </a>
    
                </div>
                
                <a class="button-primary goBackButton ">
                    <svg>
                        <use href="../../assets/img/sprints.svg#arrow-left" />
                    </svg>
                </a>

            </div>
        </header>
    </div>

    <script src="../../assets/js/page404.js"></script>

</body>
</html>
